@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap');

/* Body Styling */
body {
    font-family: "Playfair Display", "Georgia", sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #222;
    background-color: #ffffff;
    line-height: 1.3;
    margin: auto;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Nav Styling */
nav ul {
    font-family: "Playfair Display", "Georgia", sans-serif;
    font-size: 15px;
    padding: 10px, 20px, 30px, 20px
}

/* Grid Styling for li */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

/* Link Styling */
a,
a:link {
    color: rgb(24,77,193); /* drk blue */
}

a:visited {
    color: rgb(180,153,222); /* purple */
}

a:hover {
    color: rgba(127,179,233,0.5); /* lt blue */
}

a:active {
    color: rgb()
}
/* Header Styling */
h1,
h2,
h3 {
    font-family: "Crimson Text", "Arial", sans-serif;
    font-weight: 900;
    padding: 20px 0;

}